body.home{
  background-color:#fff;}

body.blue{
	background-color:#a6d1ca;
}

body.humpback{
	background-color:#225caa;
}  

body.gray{
	background-color:#e5d8b5;
}

body.orca{
	background-color:#e8858c;
}


a:hover{
 border:1px solid black;  
}


a:hover.bluepage{
 border:2px solid #a6d1ca;  
}


a:hover.humpbackpage{
 border:2px solid #225caa;  
}


a:hover.graypage{
 border:2px solid #e5d8b5;  
}


a:hover.orcapage{
 border:2px solid #e8858c;  
}

a:hover.homepage_link{
  	border:none;
}

a:active {
	color:#000;
}


a{ text-decoration: none;
   color:#000 }

nav{ padding: 20px;
	font-family: 'Barlow', sans-serif;
  	font-size: 16px;
  }


nav ul{
	list-style-type: none;

}

nav li{ display: inline-block; 
		margin-left: 20px;
  		float: right;  		
}

.homepagelink{
  	text-align:center;
  	display:inline-block;
  	margin-left: 30px;
  	padding:10px;
  }


a{
	color:#000;
}

h1.home_header {
	width:300px;
	height:100px;
	padding-top:20px;
	padding-left:30px;
	font-family: 'Barlow', sans-serif;
	color:#e83832;
	font-size:70px;
	font-weight:900;
}


h1.blue_header {
	width:100%;
	padding-top:20px;
	margin-left:850px;
	font-family: 'Barlow', sans-serif;
	color:#0089cf;
	font-size:100px;
	font-weight:900;
}


h1.humpback_header {
	width:100%;
	padding-top:20px;
	margin-left:20px;
	font-family: 'Barlow', sans-serif;
	color:#96c6e2;
	font-size:100px;
	font-weight:900;
}


h1.gray_header {
	width:100%;
	padding-top:20px;
	margin-left:850px;
	font-family: 'Barlow', sans-serif;
	color:#3e3694;
	font-size:100px;
	font-weight:900;
	
}


h1.orca_header {
	width:100%;
	padding-top:20px;
	margin-left:20px;
	font-family: 'Barlow', sans-serif;
	color:#225caa;
	font-size:100px;
	font-weight:900;
	
}


section.home_section{
	  display: grid;
      grid-template-columns: 20% 80%;
}


section.orca_section{
	  display: grid;
      grid-template-columns: 20% 80%;
      
}


section.gray_section{
	  display: grid;
      grid-template-columns: 75% 15%;
      
}


section.humpback_section{
	  display: grid;
      grid-template-columns: 20% 80%;
      
}


section.blue_section{
	  display: grid;
      grid-template-columns: 75% 15%;
      
}

article.home_article{ 
	display:block;
	padding:40px;
	margin-top: 170px;
	margin-right: 90px;
	width:350px;
	height:300px;
	font-family: 'Montserrat', sans-serif;
	color:#000;
	font-size:18px;
	font-weight:200;
	line-height:2em;	
}



article.blue_article{ 
	display:block;
	padding:50px;
	margin-top: 20px;
	margin-right: -200px;
	width:250px;
	height:250px;
	font-family: 'Montserrat', sans-serif;
	color:#000;
	font-size:14px;
	background-color:#0089cf;
	line-height:1.5em;
}




article.humpback_article{ 
	display:block;
	padding:30px;
	margin-top: 60px;
	margin-right: 90px;
	width:300px;
	height:250px;
	font-family: 'Montserrat', sans-serif;
	color:#000;
	font-size:14px;
	background-color:#96c6e2;
	line-height:1.5em;
}



article.gray_article{ 
	display:block;
	padding:50px;
	margin-top: 20px;
	margin-right: -200px;
	width:250px;
	height:250px;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size:14px;
	background-color:#3e3694;
	line-height:1.5em;
}


article.orca_article{ 
	display:block;
	padding:30px;
	margin-top: 20px;
	margin-right: 90px;
	width:300px;
	height:300px;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size:14px;
	background-color:#225caa;
	line-height:1.5em;
}


img.homepage_img_1{
	margin-top:-180px;
	z-index:-100;
}

img.orca_img_1{
  display: block;
  margin-top:-250px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  z-index: -100;

}

img.gray_img_1{
  display: block;
  margin-top:-250px;
  margin-left:auto;
  margin-right:200px;
  width: 80%;
  z-index: -100;

}


img.humpback_img_1{
  display: block;
  margin-top:-250px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  z-index: -100;

}

img.blue_img_1{
  display: block;
  margin-top:-250px;
  margin-left:auto;
  margin-right:200px;
  width: 80%;
  z-index: -100;

}


footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
}





/*.active {text decoration: underline;}*/

/*nav{
	display:grid;
	grid-template-columns: 50%, 50%;
}*/