/* Enter your Styles below! */

 .homepage body {
  background-image: url(../images/whalehome-01.png);
  background-repeat: no-repeat;
  background-size:cover;
}

.orca_page body{
	background-color:coral;
}

a{ text-decoration: none; }

/*.active {text decoration: underline;}*/

/*nav{
	display:grid;
	grid-template-columns: 50%, 50%;
}*/

nav{ padding: 20px;
	font-family: 'Barlow', sans-serif;
  	font-size: 16px;}

nav ul{
	list-style-type: none;

}

nav li{ display: inline-block; 
		margin-left: 60px;
  		float: right;  		
}

a{
	color:#000;
}

h1 {
	width:50px;
	height:50px;
	font-family: 'Barlow', sans-serif;
	color:#e83832;
	font-size:43px;
}


article{ 
	padding:40px;
	width:200px;
	height:20px;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size:16px;
}





/*font-family: 'Montserrat', sans-serif;*/